table {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #000;
}
.logo {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	font-weight: bold;
}
.main td.logos {
	font-size: 14px;
	font-weight: bold;
	padding: 20px 40px;
}

.main td {
	padding: 5px 0;
}
.bordered {
	border-bottom: 1px solid #000;
}
h2 {
	font-weight: normal;
}
.info td {
	padding: 5px 5px 5px 0;
}
.bottomtbl td.lbl {
	width: 130px;
	padding-right: 10px;
	text-align: right;
}